Source: paper-plane
Priority: optional
Maintainer: Javier Palacios <javiplx@gmail.com>
Build-Depends: debhelper, cargo, meson, libglib2.0-dev, librust-gtk4-dev, libadwaita-1-dev, libshumate-dev

Package: paper-plane
Architecture: all
Depends: ${misc:Depends}
Description: Chat over Telegram on a modern and elegant client
 Paper Plane is an alternative Telegram   .
 It uses libadwaita for its user interface and strives to meet the design principles of the GNOME desktop.
